body {
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

label, input { 
	display:block; 
}

input.text { 
	width:95%; 
	padding: .4em; 
}

fieldset { 
	padding:0; 
	border:0; 
	margin-top:5px;
}

#toolbar {
	padding: 4px;
	display: inline-block;
}

.ui-state-default .ui-menu-icon {
	background-image: url("images/bars-black.png");
	background-size: 75%;
}

.imgspinner {
    width: 30px;
    height: 30px;	
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 30px;
    height: 30px;
}

.extensions-table {
	width: 100%;
}

.extensions-tr {
	
}

.extensions-td {
	height: 50px;
	vertical-align: middle;
}

.schedule {
	border: solid lightgray 1px;
	padding: 10px;
}

.tree { 
	overflow:auto; 
	min-height:100px; 
}

.treecontainer {
    overflow:scroll;
    width: 100%;
    height: 200px;
}

.treepanel {
  position: relative;
  padding: 0.4em;
}

.treepanel h4 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}

#mappings { 
	list-style-type: none !important; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

#mappings li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.0em; 
	height: 18px; 
}

#mappings li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

#progressbar {
	margin-top: 20px;
}

.progress-label {
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
