<div data-key='<%= href %>' id='<%= href %>'>
    <div id="accounts" class="ui-widget">
      <div>
			<h4>Account Groups:</h4>
			<select name="accountGroups" id="accountGroups">
			</select>
      </div>            
      <div>
			<h4>Account Group Configuration:</h4>
			<table>
				<tr>
					<td><label for="envName"><b>Environment Name:</b></label></td>
					<td><span id="envName"></span></td>
				</tr>
				<tr>
					<td><label for="atomName"><b>Atom Name:</b></label></td>
					<td><span id="atomName"></span></td>
				</tr>
				<tr>
					<td><label for="cloudId"><b>Cloud Id:</b></label></td>
					<td><span id="cloudId"></span></td>
				</tr>
				<tr>
					<td><label for="productCodes"><b>Product Codes:</b></label></td>
					<td><span id="productCodes"></span></td>
				</tr>
			</table>
      </div>            
      <div>
	      <h4>Accounts:</h4>
	      <table id="accountstable" class="display">
	        <thead>
	          <tr>
	            <th>Name</th>
	            <th>Id</th>
	          </tr>
	        </thead>
	        <tbody>
	        </tbody>
	      </table>
      </div>            
      <div>
	      <h4>Provisioning:</h4>
	      <table id="provisioningtable" class="display">
	        <thead>
	          <tr>
	            <th>Name</th>
	            <th>Provision Id</th>
	            <th>Account Id</th>
	            <th>Status</th>
	          </tr>
	        </thead>
	        <tbody>
	        </tbody>
	      </table>
      </div>            
</div>
<div id="pwprompt" title="Enter a password for use with the generated Token">
   <p>
       <span id="accountName"></span> : <span id="accountId"></span>
   </p>
   <p>
       <label for="tokenpw">Password</label>
       <input type="password" name="tokenpw" id="tokenpw" value="" class="text ui-widget-content ui-corner-all">        
   </p>
</div>  
<div id="tokendialog" title="Generated URL">
   <textarea rows="8" cols="95" id="gendtoken">
   </textarea>
</div>  
<div id="createAccountDialog" title="Enter the required new Account information">
   <form autocomplete="off">
   <p>
       	<label for="newAccountName">Account Name</label>
       	<input type="text" name="newAccountName" id="newAccountName" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
       	<label for="street">Street Name</label>
       	<input type="text" name="street" id="street" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
       	<label for="city">City</label>
       	<input type="text" name="city" id="city" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
       	<label for="state">State</label>
       	<select name="state" id="state">
			<option>AK</option>
			<option>AL</option>
			<option>AR</option>
			<option>AZ</option>
			<option>CA</option>
			<option>CO</option>
			<option>CT</option>
			<option>DC</option>
			<option>DE</option>
			<option>FL</option>
			<option>GA</option>
			<option>HI</option>
			<option>IA</option>
			<option>ID</option>
			<option>IL</option>
			<option>IN</option>
			<option>KS</option>
			<option>KY</option>
			<option>LA</option>
			<option>MA</option>
			<option>MD</option>
			<option>ME</option>
			<option>MI</option>
			<option>MN</option>
			<option>MO</option>
			<option>MS</option>
			<option>MT</option>
			<option>NC</option>
			<option>ND</option>
			<option>NE</option>
			<option>NH</option>
			<option>NJ</option>
			<option>NM</option>
			<option>NV</option>
			<option>NY</option>
			<option>OH</option>
			<option>OK</option>
			<option>OR</option>
			<option>PA</option>
			<option>RI</option>
			<option>SC</option>
			<option>SD</option>
			<option>TN</option>
			<option>TX</option>
			<option>UT</option>
			<option>VA</option>
			<option>VT</option>
			<option>WA</option>
			<option>WI</option>
			<option>WV</option>
			<option>WY</option>
        </select>
   </p>
   <p>
       	<label for="zipcode">Zipcode</label>
       	<input type="text" name="zipcode" id="zipcode" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
       	<label for="countryCode">Country</label>
       	<select name="countryCode" id="countryCode">
       		<option>US</option>
       		<option>UK</option>
        </select>
   </p>
   <p>
       	<label for="status">Status</label>
       	<select name="status" id="status">
			<option id="trial">Trial</option>
			<option id="active">Active</option>
    	</select>
   </p>
   </form>
</div>
