<fieldset id="creds">
	<p>Please enter your Boomi Account User Id, Password and Account Id</p>
	<table>
	   <tr>
		 <td><label for="id">User Id</label></td>
		 <td><input type="text" name="id" id="id" value="" class="text ui-widget-content ui-corner-all"></td>
	   </tr>
	   <tr>  
		 <td><label for="password">Password</label></td>
		 <td><input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all"></td>
	   </tr>  
	   <tr>  
		 <td><label for="accountid">Account Id</label></td>
		 <td><input type="text" name="accountid" id="accountid" value="" class="text ui-widget-content ui-corner-all"></td>
	   </tr>  
	</table>
	<input type="submit" id="login" value="Login">
</fieldset>
