<div style="height: 80px;" class="content-head ui-widget-header">
	<table><tr>
	<td><img src="images/acme.png"></td>
	<td><h1>Acme Integrations Administration</h1></td>
	</tr>
	</table>
</div>
<div id="tabs">
  <ul>
    <li><a href="#admintab">Administration</a></li>
  </ul>
  <div id="admintab">
    <p>Welcome to the Acme Integrations Administration Application</p>
    <% if (loggedIn === false) { %>
		<fieldset id="creds">
	        <p>Please enter your Boomi Account User Id, Password and Account Id</p>
	        <table>
	           <tr>
			     <td><label for="id">User Id</label></td>
			     <td><input type="text" name="id" id="id" value="" class="text ui-widget-content ui-corner-all"></td>
			   </tr>
			   <tr>  
			     <td><label for="password">Password</label></td>
			     <td><input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all"></td>
			   </tr>  
               <tr>  
                 <td><label for="accountid">Account Id</label></td>
                 <td><input type="text" name="accountid" id="accountid" value="" class="text ui-widget-content ui-corner-all"></td>
               </tr>  
			</table>
            <input type="submit" id="login" value="Login">
		</fieldset>
    <% } %>
  </div>
</div>

 <div id="dialog-message" title="">
   <p id="dialog-message-content">
   </p>
 </div>  
