<p>
	<label for="<%= fieldId %>"><%= fieldName %> :</label>
	<%
	var type = fieldName === "password" ? "password" : "text";
	%>
	<input type="<%=type%>" id="<%= fieldId %>" value="" class="text ui-widget-content ui-corner-all">        
</p>
