<table class="extensions-table">
    <% _.each(connections, function(connection) { %>
    <tr class="extensions-tr">
        <td class="extensions-td"><label for="<%=id%>-<%=connection.id%>"><%=connection.id%></label></td>
        <% 
        var value = connection.value || ""; 
        var type = connection.usesEncryption === true ? "password" : "text";
        var disabled = connection.value ? "" : "disabled";
        var checked = connection.value ? "checked" : "";
        var disabledclass = connection.value ? "" : "ui-state-disabled"; 
        %>
        <td class="extensions-td"><input id="<%=id%>-<%=connection.id%>" type="<%=type%>" value="<%=value%>" class="text ui-widget-content ui-corner-all <%=disabledclass%>" <%=disabled%>></td>
        <td class="extensions-td"><input id="cb-<%=id%>-<%=connection.id%>" type="checkbox" value="override" <%=checked%>>Override</td>
    </tr>
    <% }); %>
</table>