<fieldset id="creds">
    <p>Please enter your Passphrase</p>
    <table>
       <tr>  
         <td><label for="password">Passphrase</label></td>
         <td><input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all"></td>
       </tr>  
    </table>
    <button id="login">Login</button>
</fieldset>
