<tr>
	<td><label for="dateFormat" style="display:block;">Date Format</label></td>
	<td>
		<select id="dateFormat">
			<option>MMddyyyy</option>
			<option>MM/dd/yyyy</option>
			<option>MM-dd-yyyy</option>
			<option>MMddyy</option>
			<option>yyyyMMdd HHmmss</option>
			<option>yyyyMMdd HHmmss.SSS</option>
			<option>yyyy-MM-dd</option>
			<option>yyyy-MM-dd'T'HH:mm:ss</option>
			<option>yyyy-MM-dd'T'HH:mm:ssZ</option>
			<option>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</option>
		</select>
	</td>
</tr>