<table class="extensions-table">
<% _.each(properties, function(property) { %>
    <tr class="extensions-tr">
    <% var value = property.value || ""; %>
    <td class="extensions-td"><label for="<%=property.name.replace(/\s/g, '_')%>"><%=property.name%></label></td>
    <td class="extensions-td"><input id="<%=property.name.replace(/\s/g, '_')%>" type="text" value="<%=value%>" class="text ui-widget-content ui-corner-all"></td>
    </tr>
<% }); %>
