<div style="height: 80px;" class="content-head ui-widget-header">
	<table><tr>
	<td><img src="images/acme.png"></td>
	<td><h1>Acme Integrations</h1></td>
	</tr>
	</table>
</div>
<div id="tabs">
  <ul>
    <li><a href="#welcome">Welcome</a></li>
  </ul>
  <div id="welcome">
    <p>Welcome to Acme Integrations. Your one stop shop for running Integration Processes</p>
    <% if (selfService === true) { %>
		<fieldset id="selfServiceForm">
			<input type="submit" id="selfService" value="Create an Account">
		</fieldset>
    <% } else if (loggedIn === false) { %>
		<fieldset id="creds">
	        <p>Please enter your Token Passphrase</p>
	        <table>
			   <tr>  
			     <td><label for="password">Passphrase</label></td>
			     <td><input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all"></td>
			   </tr>  
			</table>
			<input type="submit" id="login" value="Login">
		</fieldset>
    <% } %>
  </div>
	  
	<div id="dialog-message" title="">
	  <p id="dialog-message-content">
	  </p>
	</div>  
</div>

<div id="progressDialog" title="Account Creation" style="display: none;">
	<div id="progressLabel" class="progress-label">Creating Account...</div>
	<div id="progressbar"></div>
</div>	

<div id="createAccountDialog" title="Enter the required new Account information" style="display: none;">
	<form autocomplete="off">
	<p>
		  <div id="errmsg"></div>
	</p>	  	
   <p>
		<label for="newAccountName">Account Name</label>
		<input type="text" name="newAccountName" id="newAccountName" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
		<label for="street">Street Name</label>
		<input type="text" name="street" id="street" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
		<label for="city">City</label>
		<input type="text" name="city" id="city" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
		<label for="state">State</label>
		<select name="state" id="state">
			<option>AK</option>
			<option>AL</option>
			<option>AR</option>
			<option>AZ</option>
			<option>CA</option>
			<option>CO</option>
			<option>CT</option>
			<option>DC</option>
			<option>DE</option>
			<option>FL</option>
			<option>GA</option>
			<option>HI</option>
			<option>IA</option>
			<option>ID</option>
			<option>IL</option>
			<option>IN</option>
			<option>KS</option>
			<option>KY</option>
			<option>LA</option>
			<option>MA</option>
			<option>MD</option>
			<option>ME</option>
			<option>MI</option>
			<option>MN</option>
			<option>MO</option>
			<option>MS</option>
			<option>MT</option>
			<option>NC</option>
			<option>ND</option>
			<option>NE</option>
			<option>NH</option>
			<option>NJ</option>
			<option>NM</option>
			<option>NV</option>
			<option>NY</option>
			<option>OH</option>
			<option>OK</option>
			<option>OR</option>
			<option>PA</option>
			<option>RI</option>
			<option>SC</option>
			<option>SD</option>
			<option>TN</option>
			<option>TX</option>
			<option>UT</option>
			<option>VA</option>
			<option>VT</option>
			<option>WA</option>
			<option>WI</option>
			<option>WV</option>
			<option>WY</option>
		</select>
   </p>
   <p>
		<label for="zipcode">Zipcode</label>
		<input type="text" name="zipcode" id="zipcode" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
		<label for="countryCode">Country</label>
		<select name="countryCode" id="countryCode">
			<option>US</option>
			<option>UK</option>
		</select>
   </p>
   <p>
		<label for="passphrase">Passphrase</label>
		<input type="password" name="passphrase" id="passphrase" value="" class="text ui-widget-content ui-corner-all">        
   </p>
   <p>
		<label>Type of Atom</label>
		<label style="display:inline" >
			<input style="display:inline" type="radio" name="atomType" id="cloudAtom" checked>   
			Cloud Based
		</label>
		<label style="display:inline" >
			<input style="display:inline"  type="radio" name="atomType" id="localAtom">
			Local
		</label>
    </p>
   <p id="installDirContainer" style="display: none">
		<label for="installDirectory">Install Directory</label>
		<input type="text" id="installDirectory" value="" class="text ui-widget-content ui-corner-all">        
    </p>
   </form>
</div>  
