<div data-key='<%= href %>' id='<%= href %>'>
    <div id="events" class="ui-widget">
      <h4>Events:</h4>
      <table id="eventsTable" class="display">
        <thead>
          <tr>
            <th>Date</th>
            <th>Process</th>
            <th>Level</th>
            <th>Status</th>
            <th>Execution Id</th>
            <th>Atom</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>