<tr>
	<td><label for="numberFormat" style="display:block;">Number Format</label></td>
    <td><input type="text" name="numberFormat" id="numberFormat" value="#" class="text ui-widget-content ui-corner-all"></td>
</tr>
<tr>
	<td><label for="numberFormatSigned" style="display:block;">Signed</label></td>
	<td><input type="checkbox" name="numberFormatSigned" id="numberFormatSigned" value="" class="text ui-widget-content ui-corner-all"></td>
</tr>
<tr>
	<td><label for="numberFormatImpliedDecimals" style="display:block;">Implied Decimals</label></td>
    <td><input type="text" name="numberFormatImpliedDecimals" id="numberFormatImpliedDecimals" value="0" class="text ui-widget-content ui-corner-all"></td>
</tr>
