<table class="extensions-table">
    <% _.each(properties, function(property) { %>
    <tr class="extensions-tr">
        <td class="extensions-td"><label for="<%=property.key%>"><%=property.label%></label></td>
        <% 
            var value = property.value || ""; 
            var disabled = property.value || property.encryptedValueSet === true ? "" : "disabled";
            var checked = property.value || property.encryptedValueSet === true ? "checked" : "";
            var disabledclass = property.value || property.encryptedValueSet === true ? "" : "ui-state-disabled"; 
	        var type = property.encryptedValueSet === true ? "password" : "text";
        %>
        <td class="extensions-td"><input id="<%=property.key%>" type="<%=type%>" value="<%=value%>" class="text ui-widget-content ui-corner-all <%=disabledclass%>" <%=disabled%>></td>
        <td class="extensions-td"><input id="cb-<%=property.key%>" type="checkbox" value="override" <%=checked%>>Override</td>
    </tr>
    <% }); %>
</table>