<div data-key='<%= href %>' id='<%= href %>'>
    <div id="processes" class="ui-widget">
      <h4>Processes:</h4>
      <table id="processTable" class="display">
        <thead>
          <tr>
            <th>Name</th>
            <th>Integration Pack</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <h4>Executions:</h4>
      <table id="executionTable" class="display">
        <thead>
          <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Documents In</th>
            <th>Documents Out</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>