<fieldset id="schedule" class="schedule">
    <legend>Schedule</legend>
    <table class="extensions-table">
        <tr>
            <td class="extensions-td"><label for="scheduletype" style="display:block;">Type:</label></td>
            <td class="extensions-td">
                <select id="scheduletype">
                    <option value="minute" <%=schedule.minuteSelected%>>Minute</option>
                    <option value="hour" <%=schedule.hourSelected%>>Hour</option>
                    <option value="day" <%=schedule.daySelected%>>Day</option>
                </select>
            </td>
            <td class="extensions-td"><label for="scheduletype" style="display:block;">Interval:</label></td>
            <td class="extensions-td"><input id="interval" value="<%=schedule.interval%>"></td>
        </tr>    
        <tr>
            <td class="extensions-td"><label for="starttime" style="display:block;">Start:</label></td>
            <td class="extensions-td"><input id="starttime" value="<%=schedule.startTime%>"></td>
            <td class="extensions-td"><label for="endtime" style="display:block;">End:</label></td>
            <td class="extensions-td"><input id="endtime" value="<%=schedule.endTime%>"></td>
        </tr>    
    </table>
    <div id="weekdays">
      <input type="checkbox" id="monday" <%=schedule.monChecked%>><label for="monday">Mon</label>
      <input type="checkbox" id="tuesday" <%=schedule.tueChecked%>><label for="tuesday">Tue</label>
      <input type="checkbox" id="wednesday" <%=schedule.wedChecked%>><label for="wednesday">Wed</label>
      <input type="checkbox" id="thursday" <%=schedule.thuChecked%>><label for="thursday">Thu</label>
      <input type="checkbox" id="friday" <%=schedule.friChecked%>><label for="friday">Fri</label>
      <input type="checkbox" id="saturday" <%=schedule.satChecked%>><label for="saturday">Sat</label>
      <input type="checkbox" id="sunday" <%=schedule.sunChecked%>><label for="sunday">Sun</label>
    </div>                
</fieldset>     
